<!DOCTYPE html>
<html>
<head>
    <title>6Clues Movie Trivia</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>6Clues Movie Trivia</h1>
    <button id="start-game">Start Game</button>
    <div id="game"></div>

    <script>
        $(document).ready(function(){
            $("#start-game").click(function(){
                $.get("/start_game", function(data){
                    nextClue();
                });
            });

            function nextClue(){
                $.post("/get_clue", function(data){
                    $("#game").html('<p>Clue: ' + data.clue + '</p><input type="text" id="answer"><button id="submit-answer">Submit</button>');
                    
                    $("#submit-answer").click(function(){
                        var answer = $("#answer").val();
                        $.post("/submit_answer", { answer: answer }, function(response){
                            alert(response.response);
                            if (response.correct) {
                                nextClue();
                            }
                        });
                    });
                });
            }
        });
    </script>
</body>
</html>
